/* https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ===================================== */


:root {
  /* basic colors */
  --clr-white: #FAFAFA;
  --clr-black: #111111;

  /* comics color palette */
  --clr-light-red: #DB494C; /* light red */
  --clr-pink: #DB9B9B; /* pink */
  --clr-dark-purple: #43314B; /* dark purple */
  --clr-light-blue: #89A6C8; /* light blue */

  /* retro stripes color palette */
  --clr-yellow: #EEC352; /* yellow */
  --clr-orange: #D68124; /* orange */
  --clr-red: #BF3913; /* red */
  --clr-blue: #25496B; /* blue */
  --clr-navy-blue: #122545; /* navy blue */
}

body {
  min-width: 320px;
  font-family: 'Roboto', serif;
  background-color: var(--clr-white);

}

/* hero */
.hero {
  height: 100vh;

  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    ". h t"
    "c c t"
}

.hero > span {
  font-size: 14em;
  display: block;

}

.hello {
  grid-area: h;
}
.imtrying {
  grid-area: t;
  transform: rotate(90deg);
}
.content {
  grid-area: c;
}









.hero .WHAT {
  /* стиль хз пока для чего, может пригодится */
  background-color: white;
  width: 90vw;
  height: 90vh;
  margin: auto 0px;
  box-shadow: 4px 4px 10px 6px rgba(0,0,0,0.1);


  display: grid;

}
