/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.projects {
  max-width: 680px;
  margin: 0 auto;
  padding: 1em;
}
.projects-list {
  list-style: none;
}
.projects-list>li {

}
.projects-list > li > a {
  display: block;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1.2em;
}
.projects-list > li:first-of-type > a {
  margin-top: 1.8em;
}
.projects-list a:hover {
  border: 2px solid #ABCDEF;
  /* background: #f8fbff; */
  transition: 0.3s;
}
.projects-list > li::after > a:hover {
  display: block;
  content: ' ';
}


.projects-list > li > a:active {
  border: 2px solid #ABCDEF;
  transition: 0.3s;
}
.project-cart {
  padding: 2em 2.5em;


  background-color: ;


}
.project-subtitle {
  margin-top: 0.6em;
}

.project-cart > img {
  margin: 0 auto;
}



/* Media */

@media only screen and (max-width : 700px) {
  .project-cart {
    padding: 1.2em 1.8em;
  }

}

.project-cart {

}
