@import url('/fonts/ubuntu/Ubuntu-Regular.ttf');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--clr-black);
  background: var(--clr-white);
  position: relative;
  list-style-position: inside;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* Новые цвета */
  --clr-black: #222222;
  --clr-white: #f6f6f6;
  --clr-gray: #f0f0f0;
  --clr-acc: #357edd;
  --clr-acc2: #e6d000;
}

main {
  max-width: 1920px;
  margin: 0px auto;
}

main>section:not(:first-child) {
  /* margin: 2em 0em; */
  padding: 3em 0em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.type-link {
  color: inherit;
}

.type-link:hover {
  color: var(--clr-acc2);
}

.narrow-block {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em;
}

.grid-block {
  display: grid;
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
}

.section-title {
  margin-bottom: 1em;
}

/* Хедер */
.main-header {
  max-width: 1920px;
  margin: 0px auto;
  background: var(--clr-acc);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: .8em;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  /* https://medium.com/web-standards/sticky-bc7ff7088693 */
  top: 0;
  z-index: 10;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.main-header a {
  text-decoration: none;
}

.main-header span {
  margin: 0px;
  color: var(--clr-white);
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}

.header-contacts {
  font-size: 1.3em;
  color: white;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  padding: 16px 16px;
  color: var(--clr-white);
}

/* Hero styles */
.main-hero {
  grid-template-rows: repeat(7, 1fr);
  min-height: 540px;
  /* background: linear-gradient(to left, var(--clr-main) 40%, transparent), url(../img/hero-bg.jpg); */
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}

.main-hero>.text-container {
  color: var(--clr-second);
  grid-column: 7 / 13;
  grid-row: 2 / 7;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.main-hero>.text-container>h1 {
  font-size: 2.2em;
  text-transform: uppercase;
  color: var(--clr-white);
  text-shadow: 1px 1px 2px var(--clr-black);
}

.main-hero>.text-container>p {
  font-size: 1.8em;
  color: var(--clr-white);
  text-shadow: 2px 2px 5px var(--clr-black);
}

/* ================================================
Блок с преимуществами
================================================ */
.benefits {
  background-color: var(--clr-gray);
}

.benefits_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  grid-column: 2 / 12;
}

.benefits_list>li {
  position: relative;
  display: block;
  font-size: 1em;
  flex-basis: 280px;
  text-align: center;
  background-color: var(--clr-white);
  padding: 1em 2em;
  box-shadow: 5px 5px 0px 0px var(--clr-acc);
}

.benefit_title {
  margin: 3.8em 0.8em 0.8em 0.8em;
}

.benefit_title:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: var(--clr-acc);
  font-weight: 400;
  font-size: 2.2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
}

/* ================================================
Блок с программамии обучения
================================================ */
/*
.programs_desc {
}

.program_item {
  background: ;
  border: 1px solid var(--clr-acc2);
  margin: 3em 0;

}

.program_title {
  margin: 1.4em;
}

.program-header {
}

.program_tag {
  margin: 0.5em 0em;
  padding: 0;
  list-style: none;
}



.program_desc {
  display: flex;
  flex-direction: row;
}

.program_about {
  padding: 0 3em;
  flex-basis: 50%;
  flex-grow: 1;
}

.program_themes {
  padding: 0 3em;
  border-left: 1px solid var(--clr-acc2);
  flex-basis: 50%;
  flex-grow: 1;
}

.program_cta {
  max-width: 640px;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
}

.program_btn {
  font-size: 0.95em;
  background-color: var(--crl-add);
  border: 2px solid var(--crl-add);
  min-width: 200px;
}

.program_btn:hover {
  color: var(--clr-acc2);
  box-shadow: 3px 3px 0px 0px var(--clr-acc2);
  transition: 0.15s;
}

.program_btn:active {
  background: none;
  border: 2px solid var(--clr-cta);
  box-shadow: 3px 3px 0px 0px var(--clr-main);
}

.program_btn > i {
  margin-right: 10px;
}

.program_themes>h3,.program_about>h3 {
  margin-bottom: 1em;
}
*/
/* ================================================
Блок с программами (НОВЫЙ)
================================================ */
.programs {
  background-color: var(--clr-acc);
  color: var(--clr-black);
  grid-gap: 20px;
}

.programs-content {
  grid-column: 2 / 9;
  padding: 2em;
  background-color: var(--clr-white);
  border-radius: 0px;
}

.program_about>h4, .program_themes>h4 {
  padding: 12px 0px;
}

.program_about>ul, .program_about>p, .program_themes>ul, .program_themes>p {
  /* margin: 10px 0px; */
}

.program_cta {
  max-width: 640px;
  padding: 20px 0px 10px 0px;
  margin: 0em auto;
  display: flex;
  justify-content: space-around;
}

.program_btn {
  font-size: 0.95em;
  color: var(--clr-white);
  background-color: var(--clr-acc);
  /* border: 2px solid var(--clr-acc); */
  min-width: 190px;
}

.program_btn:hover {
  color: var(--clr-white);
  box-shadow: 2px 2px 0px 0px var(--clr-white), 4px 4px 0px 0px var(--clr-acc);
  transition: 0.15s;
}

.program_btn:active {
  background: none;
  border: 2px solid var(--clr-cta);
  box-shadow: 3px 3px 0px 0px var(--clr-main);
}

.program_btn>i {
  margin-right: 10px;
}

/* https://codepen.io/raubaca/pen/PZzpVe */
.tab-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* acc2ordion styles */
.tabs {
  overflow: hidden;
}

.tab {
  width: 100%;
  border-radius: 4px;
  color: var(--clr-black);
  overflow: hidden;
  margin: 10px 0px;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1.3em;
  background: var(--clr-gray);
  cursor: pointer;
  font-size: 1.1em;
  /* Icon */
}

.tab-label>div>p {
  margin-top: 5px;
}

.tab-label:hover {
  background: var(--clr-gray);
}

.tab-label::after {
  content: "\276F";
  width: 1.5em;
  height: 1.35em;
  text-align: center;
  align-self: center;
  transition: all .5s;
  transform: rotate(90deg);
}

.tab-content {
  max-height: 0;
  padding: 0 2em;
  background: var(--clr-gray);
  transition: all .5s;
}

.tab-content>* {
  /* margin-bottom: 20px; */
}

input:checked+.tab-label {
  background: var(--clr-gray);
}

input:checked+.tab-label:hover {
  background: var(--clr-gray);
}

input:checked+.tab-label::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

input:checked~.tab-content {
  max-height: 100vh;
  padding: 1em 2em;
}

.programs-aside {
  grid-column: 9 / 12;
}

.programs-aside>.container {
  padding: 2em;
  background-color: var(--clr-white);
  border-radius: 0px;
  box-shadow: 5px 5px 0px 0px var(--clr-acc2);
}

.callback {
  display: flex;
  flex-direction: column;
  padding: 1em 0px;
}

.callback>input {
  margin-bottom: 0.5em;
}

.callback>label {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
}

.callback>label, .callback>input {
  padding: 0.5em;
  display: block;
  width: 100%;
}

.callback>button {
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.95em;
}

/* ================================================
Блок с расписанием
================================================ */
.schedule {
  background-color: var(--clr-white);
  grid-gap: 20px;
}

.schedule-table {
  /* display: block; */
  grid-column: 2 / 9;
  border-collapse: collapse;
  margin: 0;
  padding: 2em;
  width: 100%;
  table-layout: fixed;
}

.schedule-table caption {
  font-size: 1.5em;
  font-weight: bold;
  margin: .5em 0 .75em;
  text-align: left;
}

.schedule-table thead {
  background-color: var(--clr-gray);
}

.schedule-table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.schedule-table tr:hover {
  background-color: var(--clr-gray);
  font-weight: bold;
}

.schedule-table th,
.schedule-table td {
  padding: 1em;
  text-align: center;
}

.schedule-table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.schedule-info {
  grid-column: 9 / 12;
  align-self: flex-end;
}

.schedule-info>.container {
  padding: 2em;
  background-color: var(--clr-gray);
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-acc);
}

.schedule-info>.container>i {
  color: var(--clr-acc);
  font-size: 2.2em;
  margin-right: 0.8em;
}

/* ================================================
Блок с контактами и адресом
================================================ */
.contacts {
  background-color: var(--clr-cta);
  display: flex;
  justify-content: space-around;
  min-height: 600px;
}

.contacts-text {
  flex-basis: 30%;
  padding: 1.5em;
}

.contacts-map {
  flex-basis: 60%;
  padding: 1.5em;
}

/* ================================================
Футер
================================================ */
.main-footer {}
