@import url('/fonts/ubuntu/Ubuntu-Regular.ttf');

body {
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: var(--clr-black);
  background: var(--clr-white);
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --clr-main: #f39422;
  --clr-main-1: #303084;
  --clr-cta: #537ec5;




  /* Новые цвета */
  --clr-black: #222222;
  --clr-white: #f6f6f6;

  --clr-basic: #2862AD;
  --crl-add: #58A1FF;
  --clr-acc: #FFB341;


}

main {
  max-width: 1920px;
  margin: 0px auto;
}

main > section:not(:first-child) {
  margin: 2.5em 0em;
  padding: 2.5em 0em;
}



.btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
}

.type-link {
  color: inherit;
}

.type-link:hover {
  color: var(--clr-main);
}

.narrow-block {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
}

.grid-block {
  display: grid;
  grid-template-columns: repeat(12 , minmax(min-content, 1fr));
}

.section-title {
  margin-bottom: 1em;
}

/* Хедер */
.main-header {
  background: var(--clr-basic);

}



/* Стили верхнего меню */
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-nav li a{
  text-decoration: none;
  padding: 16px 16px;
  color: var(--clr-white);
}


/* Hero styles */
.main-hero {
  grid-template-rows: repeat(7 , 1fr);
  min-height: 420px;
  /* background: linear-gradient(to left, var(--clr-main) 40%, transparent), url(../img/hero-bg.jpg); */
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}

.main-hero > .text-container {
  color: var(--clr-second);
  grid-column: 7 / 12;
  grid-row: 2 / 7;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  background: rgba(0, 0, 0, 0.6);
}

.main-hero > .text-container > h1 {

  font-size: 2.2em;
  text-transform: uppercase;
  color: var(--clr-white);
  text-shadow: 2px 2px 5px var(--clr-black);
}

.main-hero > .text-container > p {
  font-size: 1.8em;
  color: var(--clr-white);
  text-shadow: 2px 2px 5px var(--clr-black);

}


/* ================================================
Блок с преимуществами
================================================ */

.benefits_list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.benefits_list > li {
  position: relative;

  display: block;

  font-size: 1.1em;
  flex-basis: 380px;
  text-align: center;
  background-color: var(--crl-add);
  padding: 1em 2em;
  box-shadow: 5px 5px 0px 0px var(--clr-acc);
}

.benefit_title {
  margin: 3.8em 0.8em 0.8em 0.8em;
}

.benefit_title:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: var(--clr-acc);;
  font-weight: 400;
  font-size: 2.2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
}





/* ================================================
Блок с программамии обучения
================================================ */

.programs_desc {
}

.program_item {
  background: ;
  border: 1px solid var(--clr-main);
  margin: 3em 0;

}

.program_title {
  margin: 1.4em;
}

.program-header {
}

.program_tag {
  margin: 0.5em 0em;
  padding: 0;
  list-style: none;
}



.program_desc {
  display: flex;
  flex-direction: row;
}

.program_about {
  padding: 0 3em;
  flex-basis: 50%;
  flex-grow: 1;
}

.program_themes {
  padding: 0 3em;
  border-left: 1px solid var(--clr-main);
  flex-basis: 50%;
  flex-grow: 1;
}

.program_cta {
  max-width: 640px;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
}

.program_btn {
  font-size: 0.95em;
  background-color: var(--crl-add);
  border: 2px solid var(--crl-add);
  min-width: 200px;
}

.program_btn:hover {
  color: var(--clr-acc);
  box-shadow: 3px 3px 0px 0px var(--clr-acc);
  transition: 0.15s;
}

.program_btn:active {
  background: none;
  border: 2px solid var(--clr-cta);
  box-shadow: 3px 3px 0px 0px var(--clr-main);
}

.program_btn > i {
  margin-right: 10px;
}

.program_themes>h3,.program_about>h3 {
  margin-bottom: 1em;
}



/* ================================================
Блок с расписанием
================================================ */
.schedule {

  background-color: var(--clr-cta);
}

.schedule-table {
  /* padding: 1.5em 2.5em; */
}

.schedule-table table{
  border-collapse: collapse;
  width: 100%;
}

.schedule-table *{
  padding: 0.8em;
}

.schedule-table tr {
  border-bottom: 1px solid var(--clr-main-1);
}
.schedule-table tr:last-of-type {
  border-bottom: none;
}

.schedule-table tr th{
  text-align: left;
  padding: 1em;
}

.schedule p {
  /* padding: 0px; */
}



/* ================================================
Блок с контактами и адресом
================================================ */

.contacts {
  background-color: var(--clr-cta);
  display: flex;
  justify-content: space-around;
  min-height: 600px;
}

.contacts-text {
  flex-basis: 30%;
  padding: 1.5em;
}

.contacts-map {
  flex-basis: 60%;
  padding: 1.5em;
}


/* ================================================
Футер
================================================ */
.main-footer {
  min-height: 60px;
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
}


/* ================================================
Стили всех модальных окон
================================================ */
.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.popup {
  width: 600px;
  max-height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  padding: 2em;

  border: 1px solid black;
  border-radius: 10px;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: var(--clr-black);
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
  background-color: var(--clr-black);
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

.popup label {
  display: block;
}
