@import url('/fonts/ubuntu/Ubuntu-Regular.ttf');


/*
Современный сброс стилей
https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b
*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-width: 320px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-black);
  background: var(--clr-white);
  position: relative;
  list-style-position: inside;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select,
option {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* Палитра цветов */
  --clr-black: #222222;
  --clr-white: #f6f6f6;
  --clr-gray: #f0f0f0;

  --clr-basic: rgba(52,79,179,1);
  --clr-basic-light:rgba(121,141,214,1);
  --clr-basic-dark:rgba(14,38,125,1);

  --clr-accent: rgba(255,122,87,1);
  --clr-accent-light: rgba(255,156,130,1);
  --clr-accent-dark: rgba(185,38,0,1);


  /* Палитра градиентов */
  --gradient-basic: linear-gradient(135deg, var(--clr-basic-light) 0%, var(--clr-basic) 50%, var(--clr-basic-dark) 100%);
}

.bg-gradient-135 {
  background: rgb(52,79,179);
  background: -moz-linear-gradient(135deg, rgba(121,141,214,1) 0%, rgba(52,79,179,1) 50%, rgba(14,38,125,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(121,141,214,1) 0%, rgba(52,79,179,1) 50%, rgba(14,38,125,1) 100%);
  background: var(--gradient-basic);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#344fb3",endColorstr="#00189c",GradientType=1);
}


main {
  max-width: 1920px;
  margin: 0px auto;
}

main>section:not(:first-child) {
  /* margin: 2em 0em; */
  padding: 3em 0em;
}


/* Кнопки */
.btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.program_btn {
  font-size: 0.95em;
  color: var(--clr-white);
  background-color: var(--clr-basic);
  min-width: 190px;
}

.program_btn:hover {
  color: var(--clr-white);
  box-shadow: 2px 2px 0px 0px var(--clr-white), 4px 4px 0px 0px var(--clr-basic);
  transition: 0.15s;
}

.program_btn:active {
}

.program_btn>i {
  margin-right: 10px;
}

.acc_btn {
  font-size: 0.95em;
  font-weight: bold;
  color: var(--clr-basic);
  background-color: var(--clr-accent);
  /* border: 2px solid var(--clr-basic); */
  min-width: 190px;
}

.acc_btn:hover {
  color: var(--clr-black);
  box-shadow: 2px 2px 0px 0px var(--clr-white), 4px 4px 0px 0px var(--clr-accent);
  transition: 0.15s;
}

.acc_btn:active {
}


.cta-title {
  font-size: 2em;
}


.type-link {
  color: inherit;
}

.type-link:hover {
  color: var(--clr-basic);
}

.narrow-block {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em;
}

.grid-block {
  display: grid;
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
}

.section-title {
  margin-bottom: 0.8em;
}

.section-title:not(:first-child) {
  margin-top: 1.3em;
}


.adaptive-table {
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
}

.adaptive-table tr {
  padding: .35em;
}

.adaptive-table th,
.adaptive-table td {
  padding: 0.3em;
}



/* Хедер */
.main-header {
  max-width: 1920px;
  margin: 0px auto;
  background: var(--clr-basic);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: .8em;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  /* https://medium.com/web-standards/sticky-bc7ff7088693 */
  top: 0;
  z-index: 10;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.main-header a {
  text-decoration: none;
}

.main-header span {
  margin: 0px;
  color: var(--clr-white);
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}

.header-contacts {
  font-size: 1.3em;
  color: white;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  padding: 16px 16px;
  color: var(--clr-white);
}

/* Hero styles */
.main-hero {
  grid-template-rows: repeat(7, 1fr);
  min-height: 540px;
  /* background: linear-gradient(to left, var(--clr-main) 40%, transparent), url(../img/hero-bg.jpg); */
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}

.main-hero>.text-container {
  grid-column: 7 / 13;
  grid-row: 2 / 7;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.main-hero>.text-container>h1 {
  font-size: 2.2em;
  text-transform: uppercase;
  color: var(--clr-white);
  text-shadow: 1px 1px 2px var(--clr-black);
}

.main-hero>.text-container>p {
  font-size: 1.8em;
  color: var(--clr-white);
  text-shadow: 2px 2px 5px var(--clr-black);
}


/* ================================================
Интро
================================================ */
.intro {

}

.intro-content {
  grid-column: 3 / 11;
}

/* ================================================
Блок с преимуществами
================================================ */
.benefits {
  background-color: var(--clr-gray);
}

.benefits_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  grid-column: 2 / 12;
}

.benefits_list>li {
  position: relative;
  display: block;
  font-size: 1em;
  flex-basis: 280px;
  text-align: center;
  background-color: var(--clr-white);
  padding: 1em 2em;
  box-shadow: 5px 5px 0px 0px var(--clr-basic);
}

.benefit_title {
  margin: 3.8em 0.8em 0.8em 0.8em;
}

.benefit_title:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: var(--clr-basic);
  font-weight: 400;
  font-size: 2.2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
}

/* ================================================
Блок с программами
================================================ */
.programs {

  color: var(--clr-black);
  grid-gap: 20px;
}

.programs-content {
  grid-column: 2 / 9;
  padding: 2em;
  background-color: var(--clr-white);
  border-radius: 0px;
}

.programs-content p {
  margin-left: 1em;
  margin-right: 1em;
}

.tab-content>h4 {
  padding: 12px 0px;
}

.brif-table {
  font-size: 0.95em;
  margin: 1.4em 0em 1.4em 1em;
  padding: 0em 1.2em;
  border-left: 2px solid var(--clr-basic);
}

.brif-table td {
  padding: 0.2em;
}


.brif-table td:nth-child(1) {
  width: 25%;
}


.doc-prev {
  display: flex;

}

.doc-prev img {
  width: 200px;
}

.program_cta {
  max-width: 640px;
  padding: 20px 0px 10px 0px;
  margin: 0em auto;
  display: flex;
  justify-content: space-around;
}

/* https://codepen.io/raubaca/pen/PZzpVe */
.tab-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* acc2ordion styles */
.tabs {
  overflow: hidden;
}

.tab {
  width: 100%;
  border: 2px solid var(--clr-gray);
  border-radius: 5px;
  background: var(--clr-gray);
  color: var(--clr-black);
  overflow: hidden;
  margin: 10px 0px;
}

.tab:first-of-type {
  border: 2px solid var(--clr-accent);
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1.3em;

  cursor: pointer;
  font-size: 1.1em;
  /* Icon */
}


.program-title {
  font-size: 1.1em;
}




.tab-label>div>span {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: 0.75em;
  color: var(--clr-white);
  padding: 0.2em 0.6em;
  border-radius: 5px;
  background-color: var(--clr-basic);
}

.tab-label:hover {
  background: var(--clr-gray);
}

.tab-label::after {
  content: "\276F";
  width: 1.5em;
  height: 1.35em;
  text-align: center;
  align-self: center;
  transition: all .5s;
  transform: rotate(90deg);
}

.tab-content {
  max-height: 0;
  padding: 0 2em;
  background: var(--clr-gray);
  transition: all .5s;
}

.tab-content>div:not(:nth-child(1)) {
  padding: 10px 0px;
}

input:checked+.tab-label {
  background: var(--clr-gray);
}

input:checked+.tab-label:hover {
  background: var(--clr-gray);
}

input:checked+.tab-label::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

input:checked~.tab-content {
  max-height: 200vh;
  padding: 1em 2em;
}

.program_about>.info-block {
  padding: 0.1em;
}

.program_about>.info-block>i {
  margin-right: 0.6em;
  margin-left: 0.4em;
}

.programs-aside {
  grid-column: 9 / 12;
}

.programs-aside>.container {
  padding: 2em;
  background-color: var(--clr-white);
  border-radius: 0px;
  box-shadow: 5px 5px 0px 0px var(--clr-accent);
}

.callback {
  display: flex;
  flex-direction: column;
  padding: 1em 0px;
}

.callback>input {
  margin-bottom: 0.5em;
}

.callback>label {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
}

.callback>label, .callback>input {
  padding: 0.5em;
  display: block;
  width: 100%;
}

.callback>button {
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.95em;
}

/* ================================================
Блок с расписанием
================================================ */
.schedule {
  background-color: var(--clr-white);
  grid-gap: 20px;
}

.schedule-table {
  /* display: block; */
  grid-column: 2 / 9;
  border-collapse: collapse;
  margin: 0;
  padding: 2em;
  width: 100%;
  table-layout: fixed;
}

.schedule-table caption {
  font-size: 1.5em;
  font-weight: bold;
  margin: .5em 0 .75em;
  text-align: left;
}

.schedule-table thead {
  background-color: var(--clr-gray);
}

.schedule-table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.schedule-table tr:hover {
  background-color: var(--clr-gray);
  font-weight: bold;
}

.schedule-table th,
.schedule-table td {
  padding: 1em;
  text-align: center;
}

.schedule-table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.schedule-info {
  grid-column: 9 / 12;
  align-self: flex-end;
}

.info-block {
  background-color: var(--clr-gray);
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-basic);
}

.info-block>i {
  color: var(--clr-basic);
  font-size: 2.2em;
}

.schedule-info>.info-block {
  padding: 0.8em 0.8em 0.8em 1.5em ;
}

.schedule-info>.info-block>i {
  margin-right: 0.8em;
}


/* ================================================
Блок с заявкой на обучение
================================================ */

.request {
  color: var(--clr-white);
  text-shadow: 1px 1px 3px var(--clr-black);
  grid-auto-rows: auto;

  grid-template-areas:
  ". rt rt rt rt rt rt rt rt rt rt ."
  ". rf rf rf rf rf rf rf rf rf rf .";
}

.request-text {
  grid-area: rt;
  padding: 1em 0em;
}

.form-container {
  grid-area: rf;
  padding: 1em 0em;

}
.request-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.request-form > .btn {
  /* height: fit-content; */

}

.request-form > * {
  /* margin-right: 30px; */
}

.request-form-item > label {
  /* margin-right: 10px; */
  display: block;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5em;
}

.request-form-item {
  margin-right: 2em;
}

.request-form-item>input {
  padding: 0.5em;
}


/* ================================================
Блок с документами
================================================ */
.doc-content {
  grid-column: 2 / 12;
}


/* ================================================
Блок с контактами и адресом
================================================ */
.contacts {
  background-color: var(--clr-cta);
  min-height: 600px;
  grid-gap: 20px;
}

.contacts-text {
  grid-column: 2 / 5;
}

.contacts-map {
  grid-column: 5 / 12;
}

/* ================================================
Футер
================================================ */
.main-footer {}
