/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  .schedule > * {
    grid-column: 2 / 12;
  }

  section.benefits {
}

  .benefits_list {
    flex-direction: column;
    padding: 0px 2em;
    margin: 0px auto;
  }

  .benefits_list > li {
    flex-basis: auto;
    text-align: left;
    width: 100%;

    margin-bottom: .8em;
  }

  .benefits_list > li > * {
    margin-left: 7%;
  }

  .benefit_title, .benetit-text {
    margin: .8em 0em;
  }

  .benefit_title:before {
    font-size: 2.2em;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
  }

  .program_desc {
    display: flex;
    flex-direction: column;
  }

  .program_themes {
    padding: 1.4em 3em 1.4em 3em;
    border-left: none;
    flex-basis: 50%;
    flex-grow: 1;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .main-hero > .text-container > h1 {
    font-size: 2.2em;
    text-transform: uppercase;
  }

  .main-hero > .text-container > p {
    font-size: 1.4em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .main-hero {
    min-height: 420px;
    background-position-x: left;
    background-position-y: bottom;
  }

  .benefit_title:before {
    /* font-size: 1.6em;
    left: 3%;
    top: 22%; */
  }




}



@media screen and (max-width: 600px) {
  .schedule-table {
    border: 0;
  }

  .schedule-table caption {
    font-size: 1.3em;
  }

  .schedule-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .schedule-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .schedule-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .schedule-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .schedule-table td:last-child {
    border-bottom: 0;
  }
}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .benefits_list {
    padding: 0px 0.8em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
