@import url('/assets/fonts/ubuntu/Ubuntu-Regular.ttf');

body {
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
}

main {
  min-height: 100%;
}

main section {
  padding: 1em 2.5em;
  overflow: hidden;
}

:root {
  --clr-main: SkyBlue;
  --clr-second: ;
}


/* Общие стили */
.grid {
  display: grid;
  grid-template-columns: repeat(12 , minmax(min-content, 1fr));
  grid-gap: 15px;
}

.grid > * {
  grid-column: 1 / 13;
}

.grid > h2 {
  grid-column: 3 / 11;
  text-align: center;
}



/* Стили верхнего меню */
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.main-nav li{

}

.main-nav li a{
  text-decoration: none;
  padding: 16px 16px;
  color: black;
}

/* Hero styles */
.hero {
  grid-template-rows: repeat(5 , 1fr);

  min-height: 600px;
  /* background: url(../images/big-131563-1.jpg), linear-gradient(to left, transparent, var(--clr-main)); */
  background: linear-gradient(to left, var(--clr-main) 40%, transparent), url(../images/big-131563-1.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  /* background-size: 100%;
  background-repeat: no-repeat; */
  /* background-color: var(--clr-main); */
}

.hero > .text-container {
  grid-column: 7 / 12;
  grid-row: 2 / 5;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}

.text-container button {
  padding: 16px 16px;
  cursor: pointer;
  width: 250px;
}


/* about styles */
.about {

}

.about p {
  grid-column: 3 / 11;
  text-align: center;
}

/* benefits styles */
.benetits {
}

.benefits h3 {
  grid-column: 2 / -2;
  text-align: center;
}

.benefits-list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 260px;
  grid-gap: 15px;
}

.benefits-list li {
  display: block;
  background-color: var(--clr-main);
  padding: 1em;
  text-align: center;
}
