* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: rgb(20, 20, 20);
    font-size: 18px;
}

.main {
    min-height: 100vh;
    background-color: rgb(255, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-size: 1.6rem;
    padding: .8rem 0;
    text-align: center;
}

.game-title span {
    font-size: 1.2rem;
    color: rgb(255, 109, 109);
}

.rps-game {
    min-width: 300px;
    min-height: 400px;
    border: 1px solid rgb(115, 153, 187);;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.192);
    background-color: rgb(219, 238, 255);
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
}

.pad {
    padding: .8rem 0;
}

.pad-top {
    display: flex;
    justify-content: space-between;
}

.pad-top > span {
    display: block;
}

.game-field {
    flex-grow: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.137);
}

.choice {
    display: flex;
    justify-content: space-around;
}

.choice li {
    /* display: block; */
    list-style: none;

}

.choice li button {
    padding: .2rem .5rem;
    min-width: 80px;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
}

@media only screen and (max-width: 480px){
    #rps-container {
        width: 100%;
        height: 100vh;
        padding: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .rps-game {
        min-width: 100%;
        height: 60%;
    }

    .choice li {
        /* flex-grow: 2; */
    }

    .choice li button {
        font-size: 1.1rem;
    }
}