* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-black: rgb(26, 26, 26);
    --clr-white: rgb(230, 230, 230);
    --clr-prime: rgb(184, 0, 0);
    --clr-prime-lite: rgb(255, 11, 11);
}

body {
    font-family: sans-serif;
    color: var(--clr-black);
    font-size: 18px;
    background-image: url(img/bg1.jpg);
    background-size: 400px;
    background-repeat: repeat;
    background-color: rgb(83, 83, 83);
}


.main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 600px 1fr;
    grid-template-areas: 
    ". . ."
    ". g ."
    ". . ."  ;
}

#game-container {
    grid-area: g;
}

.game-content {
    background: rgb(143, 143, 143);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.game-field {
    font-family: monospace;
    flex-grow: 2;
    background-color: #fff;
}

.game-title {
    text-align: center;
}

.pad > * {
    margin: 20px 0px;
}

.game-field {
    display: grid;
    height: 100%;
    position: relative;
    background-color: var(--clr-black);
    color: green;
    padding: 0.5rem;
}

.side {
    padding: 0.5rem;
    height: 100%;
    display: flex;
}

.computer-side {

}
.user-side {
    border-top: 2px dashed green;
    flex-direction: row-reverse;
}

.info-field, .choice-img {
    width: 50%;
}
.choice-img {
    text-transform: uppercase;
    /* font-weight: 600; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.game_result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-black);
    padding: 0px 0.5rem;
}


/* Кнопки */
.choice-list {
    display: flex;
    justify-content: flex-end;
}

.choice-list li {
    list-style: none;
    margin: 0px 15px;
}

.choice-list li button {
    padding: .4rem .6rem;
    min-width: 80px;
    font-size: 1rem;
    color: var(--clr-white);
    cursor: pointer;
    background-color: rgb(216, 119, 0);
    border: 1px solid var(--clr-white);
    border-radius: 5px;
}

@media only screen and (max-width: 720px){
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "g"
        "g"
        "g"  ;
    }
    .choice-list {
        justify-content: center;
    }
    .pad-bottom {
        margin-bottom: 40px;
    }
}