* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-black: rgb(26, 26, 26);
    --clr-white: rgb(230, 230, 230);
    --clr-prime: rgb(184, 0, 0);
    --clr-prime-lite: rgb(255, 11, 11);
}

body {
    font-family: sans-serif;
    color: var(--clr-black);
    font-size: 18px;
}

.main {
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-size: 1.6rem;
    padding: .8rem 0;
    text-align: center;
}

.game-title span {
    font-size: 1.2rem;
    color: var(--clr-prime);
}

.rps-game {
    min-width: 300px;
    min-height: 400px;
    /* border: 1px solid var(--clr-black); */
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.192);
    /* background-color: var(--clr-prime); */
    /* linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(var(--clr-prime-lite), var(--clr-prime));
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
}

.pad {
    padding: .8rem 0;
}

.pad-top {
    display: flex;
    justify-content: space-between;
}

.pad-top > span {
    display: block;
}

.user_score, .computer_score {
    font-weight: bold;
}

.game-field {
    flex-grow: 2;
    background-color: var(--clr-white);
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.137);
    position: relative;
}

.game_result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}

.choice-list {
    display: flex;
    justify-content: space-around;
}

.choice-list li {
    /* display: block; */
    list-style: none;
}

.choice-list li button {
    padding: .2rem .5rem;
    min-width: 80px;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
}

@media only screen and (max-width: 480px){
    #rps-container {
        width: 100%;
        /* height: 100vh; */
        padding: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .rps-game {
        min-width: 100%;
        height: 60%;
    }

    /* .choice li {
        flex-grow: 2;
    } */

    .choice-list li button {
        font-size: 1.1rem;
    }
}