/* Общие стили */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #313131;
  background-color: #CDC1C5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--clr--yast-main);
}

/* .otl {
  outline: 1px dotted black;
} */

/* === Grid обертка === */
.glb-wrapper {
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

  display: grid;
  grid-template-columns: repeat(9, minmax(min-content, 1fr)) 1fr repeat(2, 1fr);
  grid-template-rows: 60px 300px 2fr 80px;

  grid-template-areas:
  "h h h h h n n n n n n n"
  "p p p p p p p p p a a a"
  "c c c c c c c c c a a a"
  "f f f f f f f f f f f f";
}

.grid-item {
  /* padding: 1em; */
}

.main-header {
  grid-area: h;
  /* background-color: var(--yast-main-color); /* Переменная основным цветом */ */
}

.main-nav {
 grid-area: n;
 /* background-color: var(--yast-main-color); /* Переменная основным цветом */ */
}

.promo-block {
  grid-area: p;
  background-color: #D8D8D8;
}

.main-content {
  grid-area: c;

  padding: 0.4em;

  display: flex;
  flex-flow: column;
  background-color: #f6f6f6;
}


/* === Стили постов === */
.blog-article {
  box-sizing: border-box;
  /* padding: 0.2em; */
  overflow: hidden;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); */
  margin-bottom: 1.5em;
  background-color: #fff;
  border: 2px solid var(--clr--yast-0);
}

.blog-article:nth-child(1) {
  /* border: 1px solid var(--clr--yast-0); */
  /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); */
}

.post-pic {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  /* height: 200px; */
  /* height: auto; */
  /* width: 200px;  */
  /* flex-shrink: 0; */
  /* overflow: hidden; */
}

.post-pic img {
  height: auto;
  width: 100%;
}

.post-text {
  padding: 1em;
  width: auto; /* ??? */
  overflow: hidden;
}

.post-text h3 {
  font-size: 1.5em;
  margin: 0px 0px 10px 0px;
  /* max-height: 63px; */
}

.post-description {
  line-height: 1.4em;
  max-height: 90px;
}

.post-description p {
  font-size: 1.1em;
  margin: 0px;
}

.aside {
  grid-area: a;

  padding: 1em;
  background-color: lightblue;
}

.main-footer {
  grid-area: f;
  /* background-color: var(--clr--yast-main); /* Переменная основным цветом */ */
}

/* === Nav Styles === */
.main-nav {

}
.main-nav__container > ul {
  padding: 0px;
  margin: 9px 0px;
  /* margin: 8px 0px 0px 0px; */

  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-nav__container > ul a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}
.main-nav__container > ul a:hover {
  /* font-weight: bold; */
  color: var(--clr--yast-0);
}

.main-nav > a .burger-menu {
  display: none;
}

/* === Медиа запросы === */
/* @media (max-width: 1020px) {
  .post-pic {
    width: 120px;
  }
  .blog-article {
    height: 120px;
  }
} */


@media (max-width: 768px) {
  .glb-wrapper {
    grid-template-columns: repeat(11, minmax(min-content, 1fr)) 60px;
    grid-template-rows: 60px 200px 2fr 1fr 60px;
    grid-template-areas:
    "h h h h h h h h h h h n"
    "p p p p p p p p p p p p"
    "c c c c c c c c c c c c"
    "a a a a a a a a a a a a"
    "f f f f f f f f f f f f";
  }

  .post-pic {
    width: 180px;
  }

  .post-pic img {
    height: auto;
    width: 180px;
  }

  .blog-article {
    height: 180px;
    font-size: 0.9em;
  }

  /* Отображаем бургер вместо меню */
  .main-nav__container {
    display: none;
  }
  .main-nav > a {
    display: block;
    padding: 10px;
    height: 60px;
    width: 60px;
  }
  .main-nav > a > .burger-menu {
    fill: var(--clr--yast-main); /* Заливка бургера цветом */
    display: block;
  }

  .post-description {
    /* line-height: 1.3em; */
    max-height: 60px;
  }


}

@media (max-width: 600px) {
  .blog-article {
    font-size: 0.75em;
  }

  .post-pic {
    width: 90px;
  }

  .post-pic img {
    height: auto;
    width: 90px;
  }

  .blog-article {
    height: 90px;
  }

  .post-description {
    display: none;
  }
}

/* @media (max-width: 425px) {
  .glb-wrapper {
    grid-template-columns: repeat(10, minmax(min-content, 1fr)) repeat(2, 30px);
    grid-template-rows: 60px 200px 2fr 1fr 60px;
    grid-template-areas:
    "h h h h h h h h h h n n"
    "p p p p p p p p p p p p"
    "c c c c c c c c c c c c"
    "a a a a a a a a a a a a"
    "f f f f f f f f f f f f";
  }
} */

/* === Эксперементальная зона !!! === */

/* Переменные с цветами */
/*
https://medium.com/devschacht/%D0%B8%D0%B7%D1%83%D1%87%D0%B8%D1%82%D0%B5-css-%D0%BF%D0%B5%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5-%D0%B7%D0%B0-5-%D0%BC%D0%B8%D0%BD%D1%83%D1%82-3a5dc6193857
Чтобы переменная была доступна глобально,
просто определите её в псевдоклассе :root,
который соответствует корневому элементу
в дереве документов (обычно это тег <html>).
Поскольку переменные наследуются,
следующий ниже код делает вашу переменную доступной
во всём вашем приложении, так как все ваши
DOM-элементы являются потомками тега <html>.
*/
:root {
  --clr--yast-main: #ff6e6e; /* Крансо-розовый, основной цвет */
  --clr--yast-second: #6DBDBD; /* Второй цвет, синий */
  --clr--yast-special: #FFC493; /* Персиковый */
  --clr--yast-0: #FFBDBD; /* Светло красно-розовый */
  --clr--yast-1: #80DE80; /* Зеленый, светлый */
  --clr--yast-2: #1B9A1B; /* Зеленый, темный */
  /*
  Паллета цветов: http://paletton.com/#uid=7000u0kicw08gQIdAGrm8sequo6
  */
}
