.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}
.grid-gallery_item {
  
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
