body {
  padding: 0.5em;
  min-height: 100vh;
  max-width: 100%;
  min-width: 320px;
  /* overflow: hidden; */

  /* background: #FF0099;
  background: -webkit-linear-gradient(to bottom, #493240, #FF0099);
  background: linear-gradient(to bottom, #493240, #FF0099); */
}

main {
  height: 100%;
}

ul {
  padding: 0px;
  margin: 0px;

  min-height: 100%;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-flow: dense;

  /* grid-template-columns: repeat(12, 1fr); */

}

ul li {
  list-style: none;
  display: list-item;
  align-self: center;
  justify-self: center;
}

ul li:nth-child(1) {
  grid-column: span 4;
  grid-row: span 4;
}

ul li:nth-child(2) {
  grid-column: span 1;
  grid-row: span 6;
}
