@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 320px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-yas-color);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Color palette */
:root {
  --main-yas-color: pink;
  --second-yas-color: red;
  --add-yas-color: #ffe0de;

  --text-yas-color: #262626;
  --link-yas-color: ;
  --white-yas-color: #fafafa;
}

.strip h1 {
  margin: 60px 0px 50px 0px;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
}

.strip > p {
  margin: 10px 0px 10px 0px;
  line-height: 1.4em;
  font-weight: 200;
}

.post {
  display: grid;
  grid-template-columns: repeat(4, 1fr) repeat(4, minmax(80px, 240px)) repeat(4, 1fr);
}

.post > .hero {
  grid-column: 1 / -1;
  height: 600px;
  background: url(https://www.moviedash.com/wp-content/uploads/2018/12/SpiderVerse-2.jpeg) 100% 100% no-repeat; /* Добавляем фон */
  background-size: cover;
  background-position: 50% 50%;
}

.post > .strip {
  grid-column: 5 / -5;
  background-color: #fff;
  /* padding: 3em 6em; */
  margin: 0px 0.5em;

  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
}

.strip > p:last-of-type {
  margin-bottom: 30px;
}

.strip > p,h1{
  grid-column: 2 / -2;
}

.post div.strip:nth-of-type(2){
  margin-top: -15%;
}


/* -- Картинки -- */
/* В ширину поста */
.strip > figure {
  grid-column: 1 / -1;
  margin: 20px 0px;

}

.strip > figure > img {
  width: 100%;
}
/* Во всю ширину экрана */
.post > figure {
  grid-column: 1 / -1;
  margin: 0px 0px;
  background-color: #fff;
}
.post > figure > img {
  width: 100%;
}
/* Общий фигкапча */
.post figcaption {
  color: gray;
  font-size: 0.8em;
  text-align: center;
}

/* -- Цитаты -- */
blockquote {
  grid-column: 1 / -1;
  background-color: var(--add-yas-color);
  padding: 4em 8em;
}

.strip > blockquote {
  margin: 20px 0px;
  border-right: 3px solid blue;
}

blockquote > p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

blockquote > p::before {
  content: "«";
}

blockquote > p::after {
  content: "»";
}

blockquote > .author {
  font-weight: 400;
  text-align: right;
  font-size: 1em;
}

blockquote > .author::before {
  content: "— ";
}



@media (max-width: 768px) {
  .post > .hero {
    height: 300px;
  }
  .post > .strip {
    /* padding: 0.5em 0.8em; */
    margin: 0px;
    grid-template-columns: 0.3fr 3fr 3fr 0.3fr;
  }
  .post div.strip:nth-of-type(2){
    margin-top: 0px;
  }
  .strip h1 {
    margin: 40px 0px 30px 0px;
    font-size: 28px;
  }
  blockquote {
    padding: 2em 2em;
  }
}
