/* Общие стили */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #313131;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--yast-main-color);
}

.otl {
  outline: 1px dotted black;
}

/* === Grid обертка === */
.glb-wrapper {
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0px auto;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.3);

  display: grid;
  grid-template-columns: repeat(9, minmax(min-content, 1fr)) 1fr repeat(2, 100px);
  grid-template-rows: 60px 300px 2fr 80px;

  grid-template-areas:
  "h h h h h h h n n n n n"
  "p p p p p p p p p p a a"
  "c c c c c c c c c c a a"
  "f f f f f f f f f f f f";
}

.grid-item {
  text-align: center;
  /* padding: 1em; */
}

.main-header {
  grid-area: h;
  /* background-color: var(--yast-main-color); /* Переменная основным цветом */ */
}

.main-nav {
 grid-area: n;
 /* background-color: var(--yast-main-color); /* Переменная основным цветом */ */
}

.promo-block {
  grid-area: p;

  background-color: yellow;
}

.main-content {
  grid-area: c;

  background-color: ;
}

.aside {
  grid-area: a;

  background-color: purple;
}

.main-footer {
  grid-area: f;
  background-color: var(--yast-main-color); /* Переменная основным цветом */
}

/* === Nav Styles === */
.main-nav {

}
.main-nav > ul {
  padding: 0px;
  margin: 9px 0px;
  /* margin: 8px 0px 0px 0px; */

  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-nav > ul a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}
.main-nav > ul a:hover {
  font-weight: bold;
  color: var(--yast-second-color);
}

.main-nav > a .burger-menu {
  display: none;
}

/* === Медиа запросы === */
@media (max-width: 768px) {
  .glb-wrapper {
    grid-template-columns: repeat(11, minmax(min-content, 1fr)) 60px;
    grid-template-rows: 60px 200px 2fr 1fr 60px;
    grid-template-areas:
    "h h h h h h h h h h h n"
    "p p p p p p p p p p p p"
    "c c c c c c c c c c c c"
    "a a a a a a a a a a a a"
    "f f f f f f f f f f f f";
  }

  /* Отображаем бургер вместо меню */
  .main-nav > ul {
    display: none;
  }
  .main-nav > a {
    display: block;
    padding: 10px;
    height: 60px;
    width: 60px;
  }
  .main-nav > a > .burger-menu {
    fill: var(--yast-main-color); /* Заливка бургера цветом */
    display: block;
  }
}

/* @media (max-width: 425px) {
  .glb-wrapper {
    grid-template-columns: repeat(10, minmax(min-content, 1fr)) repeat(2, 30px);
    grid-template-rows: 60px 200px 2fr 1fr 60px;
    grid-template-areas:
    "h h h h h h h h h h n n"
    "p p p p p p p p p p p p"
    "c c c c c c c c c c c c"
    "a a a a a a a a a a a a"
    "f f f f f f f f f f f f";
  }
} */

/* === Эксперементальная зона !!! === */

/* Переменные с цветами */
/*
https://medium.com/devschacht/%D0%B8%D0%B7%D1%83%D1%87%D0%B8%D1%82%D0%B5-css-%D0%BF%D0%B5%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5-%D0%B7%D0%B0-5-%D0%BC%D0%B8%D0%BD%D1%83%D1%82-3a5dc6193857
Чтобы переменная была доступна глобально,
просто определите её в псевдоклассе :root,
который соответствует корневому элементу
в дереве документов (обычно это тег <html>).
Поскольку переменные наследуются,
следующий ниже код делает вашу переменную доступной
во всём вашем приложении, так как все ваши
DOM-элементы являются потомками тега <html>.
*/
:root {
  /*
  Цвета: http://paletton.com/#uid=7000u0kicw08gQIdAGrm8sequo6
  */

  --yast-main-color: #ff6e6e; /* Основной цвет */
  --yast-second-color: #6DBDBD; /* Второй цвет... а может быть и нет */
  --yast-another-color: ;
}
