body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.glb-wrapper {
  width: 1180px;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(500, 100%);
  grid-gap: 20px;

  outline: 1px dotted black;
}

.grid-item {
  padding: 10px;
}
